* {
  box-sizing: border-box;
}

.app-container {
  min-width: 320px;
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  .app-container {
    max-width: 650px;
    margin: 4rem auto;
  }
}

/* Bill Date Component */
.bill-date__from {
  padding-right: 4px;
}

.bill-date__to {
  padding-left: 4px;
}

/* New Bill Button Component */
.new-bill-btn {
  margin-top: 5px;
  margin-bottom: 0;
}

.new-bill-btn:before {
  display: none;
}

/* Latest Bills Component */
.latest-bills__date {
  margin-left: .5rem;
  color: #b4bdc5;
  font-weight: 200;
}

.latest-bills__bill {
  margin-bottom: 40px;
}

.latest-bills__spinner {
  display: block;
  font-size: 3rem;
  text-align: center;
  animation: spin 1.5s linear infinite;
}

@keyframes spin { 100% { transform:rotate(360deg); } }

/* Bill Segment Component */
.bill-segment {
  margin-top: 0;
}

.bill-segment__link {
  display: block;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.bill-segment__link:hover {
  text-decoration: line-through;
}

.bill-segment__price {
  background: #f2f4f5;
  padding: 4px 10px;
  color: #333b44;
  border-radius: 55px;
  min-width: 80px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  vertical-align: middle;
}

.bill-segment__price--success {
  background: #009688;
  color: white;
}